numpy>=1.19
keras>=2.4
pandas==1.5.3
sqlalchemy==1.4.49
pillow>=8.2.0
pyyaml>=6.0

pycocotools
opencv-python
pytz
ipywidgets
ipython
matplotlib
tensorflow>=2.0
tqdm
scipy

langchain==0.0.308
llama-cpp-python==0.2.11

panel==0.14.4
bokeh==2.4.3
holoviews

psutil

qsl
yolov5
eel